@model IEnumerable<WebApplication5.Models.Employee>

@using WebApplication5.TableHelper


<div class="container mx-auto w-100 py-5 my-5">
    <h2 class="text-center mb-3 text-info">Employees Details</h2><br>
    <div class="table-bordered text-center">
        @Html.Table(new List<WebApplication5.Models.Employee>(Model), "table")
    </div>
</div>