@{
    ViewBag.Title = "Thanks";
}
<body>
    @*checking whether user is attending party or not*@
    <div class="textthanks">
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming. The drinks are already in the fridge!
            }
            else
            {
                @:Sorry to hear that you can't make it, but thanks for letting us know.
            }
        </div>
        <div class="btn btn-info">
            @Html.ActionLink("Go to Home", "Index")
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>