@{
    ViewBag.Title = "Index";
}

<h3>Assignment 3. Fetch Data using ADO.Net in MVC</h3>
<p>Create an assignment project to fetch Department information from the database using ADO.Net object model.</p>
<h2 class="text-center text-info">Department Details</h2>
@*Table to show the department details*@
<table class="table table-bordered table-responsive">
    <thead>
        <tr class="bg-dark text-white">
            <th>Dept Id</th>
            <th>Dept Name</th>
            <th>Dept Details</th>
        </tr>
    </thead>

    @*foreach loop to show the data from department table *@
    @foreach (var item in Model)
    {
        <tr class="bg-dark text-white">
            <td>@item.Dept_Id</td>
            <td>@item.Dept_Name</td>
            <td>@item.Dept_Details</td>
        </tr>
    }
</table>