@using WebApplication5.Models;
@{
    ViewBag.Title = "Details";
}

@*Displaying Employees Details With Id And Name*@
<h2>Employee Details</h2>
<table class="table table-bordered table-responsive">
    <tr class="bg-dark text-white">
        <td>
            EmployeeID:
        </td>
        <td>
            @Model.id
        </td>
    </tr>
    <tr class="bg-dark text-white">
        <td>
            EmployeeName:
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
</table>
@Html.ActionLink("Back to List", "Index")