@model IEnumerable<WebApplication5.Models.Employee>
@using WebApplication5.Models;

@{
    ViewBag.Title = "Index";
}

<div style="font-family:Arial"></div>
@*Displaying Employee Name List*@
<h3>Assignment 2. Fetch Data using entity framework</h3>
<p>Create a sample application to fetch Employee details from the database in MVC using entity framework</p>
<h2>Employee List</h2>
<p>Click over the name of the employee then employee details is shown</p>
<div class="emplist">
    <ul>
        @foreach (Employee employee in @Model)
        {
            <li>
                @Html.ActionLink(employee.Name, "Details", new { id = employee.id })
            </li>
        }
    </ul>
</div>