
@{
    ViewBag.Title = "Index";
}
<h2 class="text-info">
    Assignment 8. Implement a common layout showing common header, footers and navigation.
</h2>
<ul>
    <li>
        On current page the common header,footer and navigation is imlemented,
        by using the _Layout.cshtml file which includes the HTMl code for
        header, footer and navigation menus.
    </li>
    <br>
    <li>
        This _Layout.cshtml file is available in Shared folder of
        root directory due to this it's globally available.
    </li>
    <br>
    <li>
        In current Index view Layout="_Layout.cshtml" then ultimately it is rendering that common layout and navigation menus.
        In current Index view Layout="_Layout.cshtml" then ultimately it is rendering that common layout and navigation menus.
    </li>
</ul>